<html>
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/unauthenticated_nav.ejs') %>
    <div class="container">
      <div class="row">
        <h1>Login</h1>

        <%- include('partials/login_form.ejs') %>
      </div>
    </div>
  </body>
</html>
